<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="my-0 mr-md-auto text-dark font-weight-normal" href="/login">Tech.Edit</a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/index">Home</a>
    <a class="p-2 text-dark" href="/hardware">Hardware</a>
    <a class="p-2 text-dark" href="/">Licensing</a>
    <a class="p-2 text-dark" href="/">Maps</a>
  </nav>
</div>




    {% block body %}{% endblock %}


<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">

        <small class="d-block mb-3 text-muted">© 2020-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/hardware">Hardware</a></li>
          <li><a class="text-muted" href="/">Licensing</a></li>
          <li><a class="text-muted" href="/">Maps</a></li>
          <li><a class="text-muted" href="/">File sharing</a></li>
          <li><a class="text-muted" href="/">Another one</a></li>
          <li><a class="text-muted" href="/">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
        </ul>
      </div>
    </div>
  </footer>


</body>
</html>