{% extends 'base.html' %}

{% block title %}
About hardware
{% endblock %}

{% block body %}

<div class="container" align="center">
    <h1> База учета техники </h1><br>
    <a class="p-2 text-dark" href="/new_input">Добавить новую запись</a><br><br>
    <a class="p-2 text-dark" href="/db_search">Поиск</a><br><br>
    <a class="p-2 text-dark" href="/db_change">Редактировать записи</a>
</div>
<hr class="mb-4">
<div class="table-responsive" align="center">
    <ul>

        <table border="1", class="table table-striped table_sm" >
            <thead>
             <tr>
                 <th> # </th>
                 <th> Название </th>
                 <th> Серийный номер</th>
                 <th> Инвентарный номер</th>
                 <th> Кому выдано </th>
                 <th> Размещение техники</th>
                 <th> Бизнес актив </th>
                 <th> Дата выдачи </th>
                 <th> Коментарий </th>
             </tr>
            </thead>
        {% for p in hardware %}
            <tbody>
            <tr>
                <th><a href="{{ url_for('showhardware', id_hardware=p.id)}}">{{p.title}}{{p.id}}</a></th>
                <th>{{p.tech_name}}</th>
                <th>{{p.tech_sn}}</th>
                <th>{{p.tech_in}}</th>
                <th>{{p.for_whom}}</th>
                <th>{{p.tech_locate}}</th>
                <th>{{p.tech_buisnes}}</th>
                <th>{{p.input_date}}</th>
                <th>{{p.input_coment[:20]}}</th>
            </tr>
            </tbody>
        {% endfor %}
        </table>

    </ul>

</div>

{% endblock %}