<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Registration</title>
</head>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="my-0 mr-md-auto text-dark font-weight-normal" href="/index">Tech.Edit</a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Login</a>
    <a class="p-2 text-dark" href="/register">Register</a>
    <a class="p-2 text-dark" href="/">Contact</a>
  </nav>
</div>

{% block body %}

 <div class="container" align="center">
     <div class="col-md-3 mb-3">
        <form class="form-signin" action="/register" method="POST">
            <img class="mb-4" src="static/css/505px-Apple_logo_black.svg.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please enter your information </h1>
            <label for="firstname" class="sr-only">First name</label>
            <input type="firstname" id="firstname" class="form-control" placeholder="First name" required="" autofocus=""><br>
            <label for="email" class="sr-only">Email address</label>
            <input type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus=""><br>
            <label for="psw" class="sr-only">Password</label>
            <input type="psw" id="psw" class="form-control" placeholder="Password" required=""><br>
            <label for="psw2" class="sr-only">Repeat Password</label>
            <input type="psw2" id="psw2" class="form-control" placeholder="Repeat Password" required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <p class="mt-5 mb-3 text-muted">© 2020-2020</p>
            </form>
     </div>
 </div>
{% endblock %}