 <div class="container">
   <form>
     <h1> База учета техники </h1>
    <select name="Выдал:" autofocus >
        <option> Кто выдал:</option>
        <option> Моторный Д.</option>
        <option> Фомичев А.</option>
        <option> Голуб В.</option>
        <option> Шамрай В.</option>
        <option> Шакшуев О.</option>
    </select>
     <select>
         <option>Тип техники:</option>
         <option>ПК</option>
         <option> Mac</option>
         <option> Переферия </option>
     </select>
     <input VALUE="Название" size="35   " type="text">
     <input type="date" value="Дата выдачи">
     <p><input type="submit" value="Отправить"></p>
   </form>
 </div>